<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Different Things</title>
   <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/week-3.css">

</head>
<body>
	<div class="content">
		<div class="shape">
			<div id="first">
                Elinor made her a civil reply, and they walked on for a few minutes in silence. It was broken by Lucy, who renewed the subject again by saying with some hesitation --
                <br>
                "I cannot bear to have you think me impertinently curious. I am sure I would rather do anything in the world than be thought so by a person whose good opinion is so well worth having as yours. And I am sure I should not have the smallest fear of trusting you ; indeed I should be very glad of your advice how to manage in such an uncomfortable situation as I am; but however there is no occasion to trouble you . I am sorry you do not happen to know Mrs. Ferrars."
               <br>
                "I am sorry I do not ," said Elinor in great astonishment, "if it could be of any use to you to know my opinion of her. But really, I never understood that you were at all connected with that family, and therefore I am a little surprised, I confess, at so serious an inquiry into her character."
                <br>
                "I dare say you are, and I am sure I do not at all wonder at it. But if I dared tell you all, you would not be so much surprised. Mrs. Ferrars is certainly nothing to me at present -- but the time may come -- how soon it will come must depend upon herself -- when we may be very intimately connected."
                <br>
                She looked down as she said this, amiably bashful, with only one side glance at her companion to observe its effect on her.
                <br>
                "Good heavens!" cried Elinor, "what do you mean? Are you acquainted with Mr. Robert Ferrars? Can you be -- -- ?" And she did not feel much delighted with the idea of such a sister-in-law.
                <br>
                "No;" replied Lucy, "not to Mr. Robert Ferrars -- I never saw him in my life; but," fixing her eyes upon Elinor, "to his elder brother."
			</div>
            <div id="second">
                What felt Elinor at that moment? Astonishment, that would have been as painful as it was strong, had not an immediate disbelief of the assertion attended it. She turned towards Lucy in silent amazement, unable to divine the reason or object of such a declaration; and though her complexion varied, she stood firm in incredulity, and felt in no danger of an hysterical fit, or a swoon.
                <br>
                "You may well be surprised," continued Lucy; "for to be sure, you could have had no idea of it before; for I dare say he never dropped the smallest hint of it to you or any of your family; because it was always meant to be a great secret, and I am sure has been faithfully kept so by me to this hour. Not a soul of all my relations know of it but Anne, and I never should have mentioned it to you, if I had not felt the greatest dependance in the world upon your secrecy; and I really thought my behaviour in asking so many questions about Mrs. Ferrars must seem so odd that it ought to be explained. And I do not think Mr. Ferrars can be displeased when he knows I have trusted you, because I know he has the highest opinion in the world of all your family, and looks upon yourself and the other Miss Dashwoods quite as his own sisters." -- She paused.
                <br>
                Elinor for a few moments remained silent. Her astonishment at what she heard was at first too great for words; but at length forcing herself to speak, and to speak cautiously, she said with a calmness of manner which tolerably well concealed her surprise and solicitude -- "May I ask if your engagement is of long standing?"
                <br>
                "We have been engaged these four years."
                <br>
                "Four years!"
                <br>
                "Yes."
                <br>
                Elinor, though greatly shocked, still felt unable to believe it.
                <br>
                "I did not know," said she, "that you were even acquainted till the other day."
                <br>
                "Our acquaintance, however, is of many years' date. He was under my uncle's care, you know, a considerable while."
                <br>
                "Your uncle!"
                <br>
                "Yes; Mr. Pratt. Did you never hear him talk of Mr. Pratt?"
                <br>
                "I think I have," replied Elinor, with an exertion of spirits, which increased with her increase of emotion.

            </div>
            <div id="third">
                "He was four years with my uncle, who lives at Longstaple, near Plymouth. It was there our acquaintance begun, for my sister and me was often staying with my uncle, and it was there our engagement was formed, though not till a year after he had quitted as a pupil; but he was almost always with us afterwards. I was very unwilling to enter into it, as you may imagine, without the knowledge and approbation of his mother; but I was too young and loved him too well to be so prudent as I ought to have been. -- Though you do not know him so well as me, Miss Dashwood, you must have seen enough of him to be sensible he is very capable of making a woman sincerely attached to him."
                <br>
                "Certainly," answered Elinor, without knowing what she said; but after a moment's reflection, she added with revived security of Edward's honour and love, and her companion's falsehood -- "Engaged to Mr. Edward Ferrars! -- I confess myself so totally surprised at what you tell me, that really -- I beg your pardon; but surely there must be some mistake of person or name. We cannot mean the same Mr. Ferrars."
                <br>
                "We can mean no other," cried Lucy smiling. "Mr. Edward Ferrars, the eldest son of Mrs. Ferrars of Park Street, and brother of your sister-in-law, Mrs. John Dashwood, is the person I mean; you must allow that I am not likely to be deceived as to the name of the man on who all my happiness depends."
                <br>
                "It is strange," replied Elinor, in a most painful perplexity, "that I should never have heard him even mention your name." "No; considering our situation, it was not strange. Our first care has been to keep the matter secret. -- You knew nothing of me or my family, and therefore there could be no occasion for ever mentioning my name to you; and as he was always particularly afraid of his sister's suspecting anything, that was reason enough for his not mentioning it."
                <br>
                She was silent. -- Elinor's security sunk; but her self-command did not sink with it.
                <br>
                "Four years you have been engaged," said she with a firm voice.
                <br>
                "Yes; and Heaven knows how much longer we may have to wait. Poor Edward! It puts him quite out of heart." Then taking a small miniature from her pocket, she added, "To prevent the possibility of mistake, be so good as to look at this face. It does not do him justice to be sure, but yet I think you cannot be deceived as to the person it was drew of. -- I have had it above these three years."
                <br>
                She put it into her hands as she spoke, and when Elinor saw the painting, whatever other doubts her fear of a too hasty decision, or her wish of detecting falsehood might suffer to linger in her mind, she could have none of its being Edward's face. She returned it almost instantly, acknowledging the likeness.
                <br>
                "I have never been able," continued Lucy, "to give him my picture in return, which I am very much vexed at, for he has been always so anxious to get it! But I am determined to set for it the very first opportunity."
            </div>
		</div>
	</div>
</body>